* {
    margin: auto;
    padding: auto;
}


header {
    color: white;
    border: 1px solid rgb(243, 6, 6);
    padding: 20px;
    text-align: center;
}


/* -------------------------- NavBar --------------------------*/

.navbar ul {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.navbar li {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 0px;
    margin: 10px;
    animation: fade-in 1.5s ease;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-weight:800;
    list-style: none;
}

.navbar a:hover {
    color: rgb(207, 103, 23);
    font-size: 20px;
}


#identification {
    margin: 50px auto;
    width: 92%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    justify-items: center;
    animation: fade-in 1.5s ease;
    background: rgba(0, 0, 0, 0.7);
}
#identification:hover {
    background: black;
    background-size: cover;
}

#developer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'playfair', 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 5px 5px 5px black;
    animation: fade-in 1.5s ease;
}

/* ----------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    border: 2px solid black;
}

/* -------------------------- Projects --------------------------*/

footer {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}